<?xml version="1.0" encoding="utf-8"?><!--
  ~ ****************************************************************************************************************
  ~ *Plan2Cook
  ~ *Copyright (c) 2020
  ~ * Rhys Evans
  ~ *STU54259 - Arden University
  ~ ****************************************************************************************************************
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stu54259.plan2cook">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Recipe" />
        <activity android:name=".Category" />
        <activity android:name=".CreateRecipe" />
        <activity android:name=".RecipeSearch" />
        <activity android:name=".CreateMealPlan" />
        <activity android:name=".MenuPlan" />
        <activity android:name=".ShoppingList" />
        <activity android:name=".Reminders" />

        <receiver android:name=".Adapters.NotificationPublisher" />
    </application>

</manifest>